<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Detail Page</title>
</head>
<body>
<h2>User Detail</h2>
    <div>name : <span th:text="${name}"></span></div>
    <div>age : <span th:text="${age}"></span></div>
    <div>address : <span th:text="${address}"></span></div>
    <div>job : <span th:text="${job}"></span></div>
    <div>speciality : <span th:text="${specialty}"></span></div>
</body>
</html>