<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dohyeon's Fisrt Page</title>
</head>
<body>
    <h2>Dohyeon Spring Application</h2>
    <div>name : <span th:text="${name}"></span></div>
    <div>age : <span th:text="${age}"></span></div>
    <div>우와 신기하다.</div>
</body>
</html>